<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <!-- Brand & Responsiveness-->
    <a class="navbar-brand" href="/">Alba x NYP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link text-light" href="/SIT">SIT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" href="/SHSS">SHSS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" href="/FAQ">FAQ</a>
        </li>

      </ul>
    </div>
  </div>
</nav>