{% extends "base.html" %}
{% block title %}Alba x NYP - FAQ{% endblock %}

{% block content %}
{% from "includes/_formhelper.html" import render_field %}

<h1 class="container">FAQ</h1>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <!--collaspe me-->
      <div class="accordion">
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              What type of E-Waste is regulated and accepted for recycling by ALBA
              E-Waste?
            </button>
          </h4>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Regulated E-Waste can be broken down into 2 categories - Consumer and
                Non-Consumer E-Waste. To find out which category your E-Waste falls
                under,
                <span class="other-link" style="font-size: unset"><a
                    href="https://alba-ewaste.sg/types-e-waste/#regulated-consumer">click here.</a></span>

                <br /><br />Do note that not all E-Waste are regulated under the
                Resource Sustainability Act (RSA).
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Where can I recycle Non-Regulated E-Waste?
            </button>
          </h4>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                For Non-Regulated E-Waste, do check if the E-Waste is still in working
                condition. If yes, we would recommend for you to send it for any
                necessary repair or refurbishment before continuing to use it until the
                end of the product life cycle. If the E-Waste cannot be utilised
                anymore, you can bring it down to ALBA WH’s Cash-for-Trash (CFT)
                stations deployed in the
                <span class="other-link" style="font-size: unset">
                  <a href="https://www.alba-wh.sg/map.html" target="_blank">Jurong sector</a>
                </span>
                . Alternatively, you can search online for the nearest CFT stations to
                you and check in with your Public Waste Collector to see if they accept
                regulated E-Waste.

                <br /><br />
                Not all non-regulated E-Waste are collected at CFTs, for e.g. CDs, DVDs,
                cassettes, electric tooth brush and charger, etc. are not collected at
                CFTs. Please check with your respective Public Waste Collector to see
                what is accepted at their CFT stations.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Where can I recycle my Regulated E-Waste?
            </button>
          </h4>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                You can recycle your Regulated E-Waste through a variety of channels
                provided by ALBA E-Waste. <br /><br />For batteries, bulbs, and smaller
                ICT equipment, you may deposit them in our E-Bins which are deployed
                across Singapore.
                <span class="other-link" style="font-size: unset"><a
                    href="https://alba-ewaste.sg/drop-off-locations/">Click here</a></span>
                to find the location of the E-Bin nearest to you.

                <br /><br />
                Do note that you do not have to purchase anything at the stores in order
                to use the E-Bins.

                <br /><br />For larger Regulated E-Waste, you may contact us to arrange
                for doorstep collection, bring it down to our collection drives, drop it
                off at our depot (Address: 20 Tuas Loop), arrange 1-1 take-back
                collection with the retailer or contact your local town council to
                arrange for bulky E-Waste removal.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              What do I need to do as a producer and/or retailer of Regulated E-Waste?
            </button>
          </h4>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Under the RSA and as part of the Extended Producer Responsibility
                approach (EPR), producers of regulated electrical and electronic
                products will be made responsible for the collection and proper
                treatment of their E-Waste. Retailers of regulated consumer products are
                also expected to take part. For more information,
                <span class="other-link" style="font-size: unset"><a
                    href="https://alba-ewaste.sg/producers-and-retailers/">click here</a></span>
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              Does ALBA E-Waste conduct any educational talks and visits for schools?
            </button>
          </h4>
          <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Yes, we organise educational talks for schools when requested. Please
                write to us at contact@alba-ewaste.sg.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
              I want to place a bin at my organisation, what should I do?
            </button>
          </h4>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                ALBA E-Waste is working with all entities required under the RSA to
                arrange for collection mechanisms at their premises. If your
                organisation is not obligated under the RSA and you would like to deploy
                a bin at your premises, please write to us at contact@alba-ewaste.sg.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
              Can I arrange for a one-time collection event at my organisation?
            </button>
          </h4>
          <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                A collection event can be organised on a case-by-case basis. Please
                contact us at contact@alba-ewaste.sg for further discussion.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
              I have confidential information on ICT devices, such as my mobile phones
              and laptops, what will happen to the data if I recycle it?
            </button>
          </h4>
          <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                We recommend for the public to erase all their data on their data
                storage device before dropping them off for recycling. From our end,
                ALBA E-Waste ensures that the E-Waste will be collected, sorted and
                transported to qualified recyclers. These recyclers have been audited
                and have specific data sanitisation mechanisms put in place when
                processing the E-Waste.

                <br /><br />All data especially for HDDs are cleared/deleted through a
                degaussing equipment and later sent for crushing/shredding. During
                degaussing, the hard drive is rendered inoperable and cannot be reused.
                As for SSDs, they are sent for puncturing for data destruction. The
                recycler will maintain records of all data sanitisation processes which
                are subject to audit.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
              What happens if I have contaminated and/or damaged e-waste?
            </button>
          </h4>
          <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Before recycling any contaminated or damaged E-Waste, please ensure that
                that are placed in secure container or apply relevant preventive
                measures to avoid further contamination.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
              Can I recycle my power bank?
            </button>
          </h4>
          <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Yes ,you can recycle your power bank with us. There are a few options
                available:

                <br /><br />
                • Via our 3-in-1 Bins (ICT, Bulbs, Battery) - please deposit the item in
                the middle slot
                <br /><br />
                • Collection events - we organise quarterly collection drives in
                residential estates, you can bring the power bank down to us during the
                event. To check out the upcoming events,
                <span class="other-link" style="font-size: unset" target="_blank"><a
                    href="https://alba-ewaste.sg/drop-off-at-collection-events/" target="_blank">click here</a></span>.
                <br /><br />
                • Via over-the-counter services provided by Participating Retailers.
                <span class="other-link" style="font-size: unset" target="_blank"><a
                    href="https://alba-ewaste.sg/retailer-take-back-scheme/" target="_blank">Click here</a></span>
                to find the names and contact details of the Participating Retailers.
                Please check in with them to see which outlets provides the relevant
                services.

                <br /><br />
                Do note that when you are depositing Rechargeable or Lithium-Ion
                Batteries, please make sure to tape the terminal of the batteries before
                depositing them into the E-Bin. You may also use plastic wrap to wrap
                them individually to prevent any contact from terminals of other
                batteries. If batteries are leaking, please place them in a sealable
                plastic bag before disposing them.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingTwelve">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
              Can I recycle my cables, wires, keyboards and mouse?
            </button>
          </h4>
          <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                Regulated ICT Equipment and its peripherals can be disposed of together.
                Examples of peripherals includes Mouse, keyboard, cables and adaptor.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingThirteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
              Why can I only redeem points once a day when recycling e-waste?
            </button>
          </h4>
          <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                We would like to prevent the situation where excessive e-waste is being
                generated and disposed for points, thus we have kept the points
                redemption to once per day.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingFourteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
              Why is the same amount of points assigned for all types of e-waste?
            </button>
          </h4>
          <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                We have kept the points reward to be a flat amount regardless of the
                weight or type of e-waste as the points on our application are given out
                as an incentive to encourage recycling as a whole.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h4 class="accordion-header" id="flush-headingFifteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
              Why are some E-Waste regulated and some are not?
            </button>
          </h4>
          <div id="flush-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifteen"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>
                These items have been regulated based on their waste generation volumes
                as well as the potential impact on the environment.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <p>Try our chatbot here!</p>

      <div class="row">
        <div class="col chat-bg">
          <p class="chat chatbot">Chatbot: Hi, ask me a question!</p>
          {% if count >= 1 %}
          {% for cc in range(0, count) %}
          <p class="chat user">{{ textList[cc] }}</p>
          <p class="chat chatbot">{{ botList[cc] }}</p>
          {% endfor %}
          {% else %}
          <br>
          {% endif %}
        </div>
        <form method="POST" action="" class="form-group">
          <div class="input-group mb-3">
            {{ render_field(form.text, class="form-control special" ) }}
            <button class="btn btn-primary" type="submit" id="submit-btn">Send</button>
          </div>
        </form>
        <a href="/clearChat">
          <button class="btn btn-outline-primary" type="submit" id="clear-btn">Clear chat</button>
        </a>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}

{% block style %}
<style>
  .chat {
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 10px;
  }

  .user {
    background-color: #0D6EFD;
    color: white;
    margin-inline-end: 40%;
  }

  .chatbot {
    background-color: #EDFBFE;
    margin-inline-start: 40%;
  }
</style>
{% endblock %}